<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "new_user form-signin", :role => "form"}) do |f| %>
  <h2 class="form-signin-heading">Create with <span class="moflix">moflix</span></h2>
  <%= devise_error_messages! %>

  <%= link_to '<i class="fa fa-facebook"></i>Sign up with Facebook'.html_safe, omniauth_authorize_path(resource_name, "facebook"), :class => "btn btn-block btn-social btn-lg btn-facebook" %>

  <a class="btn btn-block btn-social btn-lg btn-instagram"><i class="fa fa-instagram"></i>Sign up with Instagram</a>

  <a class="btn btn-block btn-social btn-lg btn-flickr"><i class="fa fa-flickr"></i>Sign up with Flickr</a>

<% end %>



