<% if current_user %>

<div class="container mf_container">

  <ul class="nav nav-pills mf-steps">
    <li class="active"><a href="#" id="show_photos">1. Choose photos</a></li>
    <li><a href="#" id="show_music">2. Select Music</a></li>
    <li><a href="#">3. Publish</a></li>
  </ul>

    <div id="music_container">
      <div class="search_breadcrumbs">
          <ol class="breadcrumb">
              <div class="input-group input-group-lg col-lg-6 col-sm-6 col-xs-12 pull-right">
                <input type="text" class="form-control youtube_vids" placeholder="Search for an artist">
              </div>
          </ol>
      </div>
      <div class="row music_vids_row"> <!-- For displaying the videos -->
        <div class="container"><h3 id="my_albums_header">Popular Songs</h3></div>
        <% @musictracks.each do |track| %>
          <div class='col-lg-3 col-sm-6 col-xs-12 music_vid'><iframe width="250" height="200" src="//www.youtube.com/embed/<%= track.src %>?modestbranding=1&controls=0" frameborder="0"></iframe><br/><button class="btn btn-default btn-success btn-sm choose_song" id="<%= track.id %>"><span class="glyphicon glyphicon-headphones"></span> Select this song</button></div>
        <% end %>
      </div>
    </div>


    <div id="FB_albums_container">
      <div class="search_breadcrumbs">
          <ol class="breadcrumb">
              <div class="input-group input-group-lg col-lg-6 col-sm-6 col-xs-12 pull-right">
                <input type="text" class="form-control fb_friends" placeholder="Find friends albums">
              </div>
          </ol>
      </div>
      <div class="loading_stuff">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div id="albums_loading">Loading facebook albums...</div>
      </div>
      
      <div class="row fb_album_contents"></div> <!-- For displaying the photos within a particular album -->
      <div class="row fb_friends_albums"></div> <!-- For displaying a friends albums -->
      <div class="row fb_albums_row"> <!-- For displaying the users own albums -->
        <div class="container"><h3 id="my_albums_header">My Albums</h3></div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <button class="btn mf_btn" id="done_button"><span class="glyphicon glyphicon-film"></span> Done</button>
          <button class="btn mf_btn" id="add_more">Add more</button>
        </div>
      </div>
    </div>

      

    </div>

</div>

<script>

  $(function() {
// Typeahead.js stuff
var fb_friends = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 10,
  prefetch: {
    // url points to a json file that contains an array of country names, see
    // https://github.com/twitter/typeahead.js/blob/gh-pages/data/fb_friends.json
    url: '/fb_friends'
    // filter: function (parsedResponse) {
    //         // parsedResponse is the array returned from your backend
    //         console.log($.parseJSON(parsedResponse));

    //         // do whatever processing you need here
    //         //return parsedResponse;
    //     }
    // the json file contains an array of strings, but the Bloodhound
    // suggestion engine expects JavaScript objects so this converts all of
    // those strings
    // filter: function(list) {
    //   return $.map(list, function(country) { return { name: country }; });
    // }
  }
});
 
//clear the cache
fb_friends.clearPrefetchCache();
// kicks off the loading/processing of `local` and `prefetch`
fb_friends.initialize();
 
// passing in `null` for the `options` arguments will result in the default
// options being used
$('.input-group .fb_friends')
  .typeahead(null, {
    name: 'fb_friends',
    displayKey: 'name',
    // `ttAdapter` wraps the suggestion engine in an adapter that
    // is compatible with the typeahead jQuery plugin
    source: fb_friends.ttAdapter()
  })
  .on('typeahead:selected', onAutocompleted)
  .on('typeahead:autocompleted', onSelected);
 
function onAutocompleted($e, datum) {
    getFriendsPhotoAlbums(datum);
}
 
function onSelected($e, datum) {
    getFriendsPhotoAlbums(datum);
}
// end of typeahead stuff

    $('#thumbscontainer').bind('mousewheel', function(e) { // on scroll
      var $div = $('#thumbscontainer');

      // set div scroll top offset to current + extra from this scroll
      $div.scrollLeft($div.scrollLeft() - e.originalEvent.wheelDelta);

      return false; // prevent body scrolling
    })

  moflix = new Object();
  moflix.photos = [];

// Need this to get the album cover photos as the url of the image is not made available with the album data
function getPhotoById(id) {
  coverPhoto = $.ajax({
        type: "GET",
        url: "/get_picture?pictureid=" + id,
        dataType: "json",
        success: function(data){
          console.log(data);
        }
    });
} // End of getPhotoById function

  // Ensure the empty divs contain the image backgrounds are responsive
  $( window ).resize(function() {
    thumbnailHeight();
  });

    // Get the user's FB albums and build the view of them
    $.ajax({
        type: "GET",
        url: "/user_albums",
        dataType: "json",
        success: function(data){
            $( ".loading_stuff" ).fadeOut(0);
            for (var i=0;i<data.length;i++)
              { 
                var pictureURL = $.ajax({
                  type: "GET",
                  async: false,
                  url: "/get_picture?pictureid=" + data[i]['cover'],
                  dataType: "json"
                });
                data[i]['cover'] = pictureURL.responseText;
                // build album add and browse buttons
                $('.fb_albums_row').append(
                  "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
                  "<p>" + data[i]['name'] + " (" + data[i]['count'] + ")</p>" +
                  "<div class='thumbnail img-responsive'>" +
                  "<div class='mf_thumbnail' style='background-image: url(" + data[i]['cover'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] +"' data-name='"+ data[i]['name'] +"'><button class='btn btn-default btn-primary browse'><span class='glyphicon glyphicon-search'></span> Browse photos</button><br/><button class='btn btn-default btn-success add_all'><span class='glyphicon glyphicon-plus'></span> Add all photos</button></div></div></div></div>"
                  // <a href='#' class='btn btn-default btn-info btn-lg'><span class='glyphicon glyphicon-search'></span> Choose pictures</a>
                  );          
              }; // End of for loop
              thumbnailHeight();
              // Set up the click handler for the buttons (have to do this here to ensure it is done AFTER the creation of the divs!)
              $( ".add_all" ).click(function() {
                getAlbumPhotos($(this).parent().attr("id"));
              });  

              $( ".browse" ).click(function() {
                $('.loading_stuff').fadeIn(0);
                displayPhotos($(this).parent().attr("id"), $(this).parent().attr("data-name"));
              });

      } // Close success callback
    }); // Close Ajax call

  $( "#show_music" ).click(function() {
    $('#FB_albums_container').slideUp( "slow");
    $('#music_container').slideDown( "slow");
  })

  $("#show_photos" ).click(function() {
    $('#music_container').slideUp( "slow");
    $('#FB_albums_container').slideDown( "slow");
  })





  }); // Close page load function

  function getFriendsPhotoAlbums(datum) {
    $('.breadcrumb').find('.btn').remove();
    $('.breadcrumb').append(
      '<a href="#" class="btn btn-default btn-primary" id="my_album"><span class="glyphicon glyphicon-arrow-left"></span> Back to My Albums</a>'
      );
    $( "#my_album" ).click(function() {
      $('.breadcrumb').find('.btn').remove();
      $('.fb_friends_albums').fadeOut(0);
      $('.fb_album_contents').fadeOut(0);
      $('.fb_albums_row').fadeIn(0);
    });
    $('.fb_friends_albums').empty();
    $('.fb_friends_albums').fadeOut(0);
    $('.fb_album_contents').empty();
    $('.fb_albums_row').fadeOut(0);
    $( '.loading_stuff' ).fadeIn(0);
    var name = datum["name"].split(" ")[0];
    $('.fb_friends_albums').append(
      '<div class="container"><h3 id="albumOwner">' + name + '\'s Albums</h3></div>'
      );
    // make an Ajax call to get the albums
    $.ajax({
        type: "GET",
        url: "/fb_friends_albums/?userid=" + datum["id"],
        dataType: "json",
        success: function(data){
          for (var i=0;i<data.length;i++)
              { 
                // We have to make another call now to get the link the cover photo
                var pictureURL = $.ajax({
                  type: "GET",
                  async: false,
                  url: "/get_picture?pictureid=" + data[i]['cover'],
                  dataType: "json"
                });
                data[i]['cover'] = pictureURL.responseText;
                // build album add and browse buttons
                $('.fb_friends_albums').append(
                  "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
                  "<div class='album_title'><p>" + data[i]['name'] + " (" + data[i]['count'] + ")</p></div>" +
                  "<div class='thumbnail img-responsive'>" +
                  "<div class='mf_thumbnail' style='background-image: url(" + data[i]['cover'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] +"' data-name='"+ data[i]['name'] +"'><button class='browse btn btn-default btn-primary'><span class='glyphicon glyphicon-search'></span> Browse photos</button><br/><button class='btn btn-default btn-success add_all'><span class='glyphicon glyphicon-plus'></span> Add all photos</button></div></div></div></div>"
                  // <a href='#' class='btn btn-default btn-info btn-lg'><span class='glyphicon glyphicon-search'></span> Choose pictures</a>
                  );          
              }; // End of for loop
              $( '.loading_stuff' ).fadeOut(0);
              $('.fb_friends_albums').fadeIn(0);
              thumbnailHeight();
              $( ".add_all" ).click(function() {
                getAlbumPhotos($(this).parent().attr("id"));
              });  

              $( ".browse" ).click(function() {
                //browseAlbum($(this).parent().attr("id"));
                displayPhotos($(this).parent().attr("id"), $(this).parent().attr("data-name"));
                // console.log("Ok, so you want to browse album " + $(this).parent().attr("id"));
              });
              
        } //End of success callback
    });
  } // End of getFriendsPhotoAlbums

  function getAlbumPhotos(albumId) {
    $.ajax({
      type: "GET",
      url: "/photos_by_album?albumid=" + albumId,
      dataType: "json",
      success: function(data){
        // Add each photo in the Ajax response to the moflix.photos array
        for (var i=0;i<data.length;i++)
          {
            var photo = new Object;
            photo.id = data[i]['id'];
            photo.name = data[i]['name'];
            photo.height = data[i]['height'];
            photo.width = data[i]['width'];
            photo.source = data[i]['source'];
            photo.created = data[i]['created_time'];
            photo.from = data[i]['from']['name'];
            photo.fromid = data[i]['from']['id'];
            photo.comments = data[i]['comments'];
            photo.likes = data[i]['likes'];
            $('#thumbscontainer').find('p').remove();
            $('.imagelist').append(
              "<li class='thumbimage'><img id='tnimage1' src='"
              + photo.source
              +"'></li>"
            );
              addAlbumPhotos(photo);
          }; // End for loop
      } //End success callback
    }); // End Ajax request
  } // End of getAlbumPhotos function

  // Once we have the photos from the album, let's display them.
  function displayPhotos(albumId, albumName) {
    $('.breadcrumb').find('.btn').remove();
    $('.breadcrumb').append(
      '<a href="#" class="btn btn-default btn-primary" id="my_album"><span class="glyphicon glyphicon-arrow-left"></span> Back to My Albums</a>'
      );
    if ($('#my_albums_header').is(":visible")){
      headingTitle = "My Albums"
    };
    if ($('#albumOwner').is(":visible")){
      headingTitle = $('#albumOwner').html();
    };
    $( "#my_album" ).click(function() {
      $('.breadcrumb').find('.btn').remove();
      $('.fb_friends_albums').fadeOut(0);
      $('.fb_album_contents').fadeOut(0);
      $('.fb_albums_row').fadeIn(0);
    });
    $('.loading_stuff').fadeIn(0);
    var photosForDisplay = [];
    //$('.fb_album_contents').fadeOut(0);
    $('.fb_album_contents').empty();
    $('.fb_album_contents').append(
      '<div class="container"><h3><a href="#" id="hide_gallery">' + headingTitle + '</a> / ' + albumName + '</h3></div>'
      );
    $( "#hide_gallery" ).click(function() {
      $('.fb_album_contents').fadeOut(0);
    });
    // Ajax call to get the photos
    $.ajax({
      type: "GET",
      url: "/photos_by_album?albumid=" + albumId,
      dataType: "json",
      async: false,
      success: function(data){
        // Add each photo in the Ajax response to the moflix.photos array
        for (var i=0;i<data.length;i++)
          {
            var photo = new Object;
            photo.id = data[i]['id'];
            photo.name = data[i]['name'];
            photo.height = data[i]['height'];
            photo.width = data[i]['width'];
            photo.source = data[i]['source'];
            photo.created = data[i]['created_time'];
            photo.from = data[i]['from']['name'];
            photo.fromid = data[i]['from']['id'];
            photo.comments = data[i]['comments'];
            photo.likes = data[i]['likes'];
            photosForDisplay.push(photo);


            $('.fb_album_contents').append(
              "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
              "<div class='thumbnail img-responsive'>" +
              "<div class='mf_thumbnail' style='background-image: url(" + data[i]['source'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] + "'><br/><button class='btn btn-default btn-success add_photo'><span class='glyphicon glyphicon-plus'></span> Add photo</button></div></div></div></div>"
              );          
          }; // End for loop
          $('.loading_stuff').fadeOut(0);
          $('.fb_album_contents').fadeIn(0);
          thumbnailHeight();
          $('.add_photo').click(function() {
            var photoObject = $(this).parent().attr("id").toString()
            var result = $.grep(photosForDisplay, function(e){ return e.id === photoObject });
            $('#thumbscontainer').find('p').remove();
            $('.imagelist').append(
              "<li class='thumbimage'><img id='tnimage1' src='"
              + result[0]['source']
              +"'></li>"
            );
            addAlbumPhotos(result[0]);
          });
          
      } //End success callback

    }); // End Ajax request
  } // End of displayPhotos function



  function addAlbumPhotos(photo) {
    imageListWidth();
    scrollToEnd();
    moflix.photos.push(photo);
    console.log(moflix.photos);
  }

// Creating the event and posting to rails
  $( "#done_button" ).click(function() {
    moflix.username = "<%= current_user.name %>";
    moflix.userid = "<%= current_user.id %>";
    if (true) //$('#event_title').val() == ""
    {
      moflix.title = "A moflix by "+ moflix.username;
    } else {
      moflix.title = "Something else" //$('#event_title').val();
    }

    $.ajax({
      type: "POST",
      url: "/events",
      beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      dataType: "json",
      data: {
             "event":moflix
             },
      success: function(data){
        alert("Moflix created")
      }
    }); // end of AJAX request
  }) //End click function

</script>

<!-- Sticky footer for thumbnails -->
<footer class="navbar navbar-fixed-bottom transparent navbar-inverse">
  
  <div class="container">
    <div id="thumbscontainer">
      <p>Choose photos to add to your Moflix</p><p>and they'll appear here.</p>
    <ul class="imagelist">
    </div>
  </div>
</footer>

<script>

// The div contained within the Thumbnails is empty. Here we force the height of it to show the background image
function thumbnailHeight() {
  div = $('.mf_thumbnail');
  divWidth = div.width();
  div.css('height', divWidth);
};

// A function to calculate the width of .imagelist
function imageListWidth() {
  var lengthRequired =  (($(".thumbimage").length)*(100+4))+104;  
  $(".imagelist").css("width", lengthRequired)
};

function scrollToEnd() {
  $('#thumbscontainer').scrollLeft($('.imagelist').outerWidth());
};

// This function is for dev only (until FB works on iphone)
$( "#add_more" ).click(function() {
  var photo = new Object;
      photo.id = "none";
      photo.name = "This is the test one";
      photo.height = 720;
      photo.width = 960;
      photo.source = "https://scontent-b-lhr.xx.fbcdn.net/hphotos-prn1/t1.0-9/1017707_10153948172475503_312887545_n.jpg";
      photo.created = "2013-11-01T11:57:48+0000";
      photo.from = "Moflix Test";
      $('#thumbscontainer').find('p').remove();
      $('.imagelist').append(
        "<li class='thumbimage'><img id='tnimage1' src='"
        + photo.source
        +"'></li>"
      );
      imageListWidth();
      scrollToEnd();
      moflix.photos.push(photo);
      console.log(moflix)
});

</script>

  <% else %>
    <% redirect_to login_path %>
  <% end %>

