<% if current_user %>

<div class="container mf_container">

  <ul class="nav nav-pills mf-steps">
    <li class="active"><a href="#" id="show_photos">1. Choose photos</a></li>
    <li><a href="#" id="show_music">2. Select Music</a></li>
    <li><a href="#" id="publish_btn">3. Publish</a></li>
  </ul>

  <div class="stats">
    <p id="no_of_photos">Photos added:</p>
    <p id="no_of_comments">Comments:</p>
    <p id="music_selected"> Music selected: </p>
    <p id="runtime"> Approx runtime:</p>
  </div>

  <ul class="nav nav-tabs nav-justified photo_sources">
    <li class="active" id="facebook_photos"><a href="#"> Facebook photos</a></li>
    <li id="instagram_photos"><a href="#"><i class="fa fa-instagram"></i> Instagram Photos</a></li>
    <li id="flickr_photos"><a href="#"><i class="fa fa-flickr"></i> Flickr Photos</a></li>
  </ul>

  <div id="instagram_container">
    <% if current_user.instagram_token != "" %>
      You are connected with instagram
    <% else %>
      <a href="/users/auth/instagram" class="btn btn-block btn-social btn-lg btn-instagram"><i class="fa fa-instagram"></i>Connect with Instagram</a>
    <% end %>
    <ol>
      <li>Show the user's own stuff</li>
      <li>Search hastags</li>
    </ol>
    <div class="row instagram_contents"></div>
  </div>

    <div id="music_container">
      <div class="music_search_breadcrumbs">
          <ol class="music_breadcrumb">
            <div class="input-group input-group-lg col-lg-6 col-sm-6 col-xs-12 pull-right">
              <input type="text" class="form-control youtube_vids" placeholder="Search for an artist">
            </div>
          </ol>
      </div>
      <div class="row music_vids_row"> <!-- For displaying the videos -->
        <div class="container"><h3 id="my_albums_header">Popular Songs</h3></div>

      </div>
    </div>



    <div id="FB_albums_container">
      <div class="search_breadcrumbs">
          <ol class="breadcrumb albums_breadcrumb">
            <a href="#" class="btn btn-default btn-primary" id="my_album"><span class="glyphicon glyphicon-arrow-left"></span> Back to My Albums</a>
              <div class="input-group input-group-lg col-lg-6 col-sm-6 col-xs-12 pull-right">
                <input type="text" class="form-control fb_friends" placeholder="Find friends albums">
              </div>
          </ol>
      </div>
      <div class="loading_stuff">
        <div class="spinner">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
        <div id="albums_loading">Loading facebook albums...</div>
      </div>
      
      <div class="row fb_album_contents"></div> <!-- For displaying the photos within a particular album -->
      <div class="row fb_friends_albums"></div> <!-- For displaying a friends albums -->
      <div class="row fb_albums_row"> <!-- For displaying the users own albums -->
        <div class="container"><h3 id="my_albums_header">My Albums</h3></div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
          <button class="btn mf_btn" id="done_button"><span class="glyphicon glyphicon-film"></span> Done</button>
          <button class="btn mf_btn" id="add_more">Add more</button>
        </div>
      </div>
    </div>

      

    </div>

</div>

<script>

$(function() {
  // Hide the 'Back to My Albums' button as we start with a view of the user's albums
  $('.breadcrumb').find('.btn').fadeOut(0);
  $('#instagram_container').fadeOut(0);

  $('#instagram_photos').click(function() {
    $('#FB_albums_container').fadeOut(0);
    $('li#facebook_photos').removeClass( "active" );
    $('li#instagram_photos').addClass( "active" );
    $('#instagram_container').fadeIn(0);
    // Make the Ajax call to instagram (if we haven't already done so)
    if ($('.instagram_contents').children().length == 0) {
      getInstagramPhotos();
    };
    return false;
  })

  $('#facebook_photos').click(function() {
    $('#instagram_container').fadeOut(0);
    $('li#instagram_photos').removeClass( "active" );
    $('li#facebook_photos').addClass( "active" );
    $('#FB_albums_container').fadeIn(0);
    return false;
  })

  function getInstagramPhotos(url) {
    userInstagramUid = "<%= current_user.instagram_uid %>";
    userInstagramAccessToken = "<%= current_user.instagram_token %>"
    if (url == undefined) {
      var url = "https://api.instagram.com/v1/users/"+ userInstagramUid +"/media/recent?access_token="+userInstagramAccessToken;
    };
    instagramPhotos = $.ajax({
          type: "GET",
          url: url,
          dataType: "jsonp",
          crossDomain: true,
          success: function(data){
            // console.log(data);
            displayInstagramPhotos(data);
          }
      });
  } // End of getInstagramPhotos function

  function displayInstagramPhotos(data){
  // Add each photo in the Ajax response to the moflix.photos array
    $('div.instagram_show_more').remove();
    for (var i=0;i<data["data"].length;i++)
      {
        var photo = new Object;
        photo.cameFromSite = "Instagram";
        photo.id = data["data"][i]['id'];
        photo.name = data["data"][i]['caption'];
        photo.height = data["data"][i]['images']['standard_resolution']['height'];
        photo.width = data["data"][i]['images']['standard_resolution']['width'];
        photo.source = data["data"][i]['images']['standard_resolution']['url'];
        photo.created = data["data"][i]['created_time'];
        photo.from = data["data"][i]['user']['full_name'];
        photo.fromid = data["data"][i]['user']['id'];
        photo.comments = data["data"][i]['comments'];
        photo.likes = data["data"][i]['likes'];
        photo.frompic = data["data"][i]['user']['profile_picture'];

        photosForDisplay.push(photo);

        $('.instagram_contents').append(
          "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
          "<div class='thumbnail img-responsive'>" +
          "<div class='mf_thumbnail' style='background-image: url(" + photo.source + ")'><div class='mf_thumb_buttons' id='" + photo.id + "'><br/><button class='btn btn-default btn-success add_instagram_photo'><span class='glyphicon glyphicon-plus'></span> Add photo</button></div></div></div></div>"
          );          
      }; // End for loop
      
      if (data['pagination']['next_url'] != undefined) {
        nextUrl = data['pagination']['next_url'];
        $('.instagram_contents').append(
          "<div class='col-lg-2 col-sm-3 col-xs-6 instagram_show_more'>" +
          "<div class='thumbnail img-responsive '>" +
          "<div class='mf_thumbnail'><a href='#'' class='btn btn-default btn-info btn-lg instagram_get_more' data-url=" + nextUrl +"><span class='glyphicon glyphicon-circle-arrow-right'></span> Show more</a></div></div></div>"
          ); 
      }
      thumbnailHeight();
      $('.instagram_get_more').click(function(ev) {
        getInstagramPhotos($(this).attr('data-url'));
        // console.log($(this).attr('data-url'));
        ev.preventDefault;
        return false;
      });
      $('.add_instagram_photo').click(function(ev) {
        console.log("Click function on line 178");
        var photoObject = $(this).parent().attr("id").toString()
        var result = $.grep(photosForDisplay, function(e){ return e.id === photoObject });
        $('#thumbscontainer').find('p').remove();
        $('.imagelist').append(
          "<li class='thumbimage'><img id='tnimage1' src='"
          + result[0]['source']
          +"'></li>"
        );
        addAlbumPhotos(result[0]);
        console.log(result[0]);
      });

  } // End of addInstagramPhotos function

  // This function controls the moflix timeline and changes the scroll direction
  $('#thumbscontainer').bind('mousewheel', function(e) { // on scroll
    var $div = $('#thumbscontainer');
    // set div scroll top offset to current + extra from this scroll
    $div.scrollLeft($div.scrollLeft() - e.originalEvent.wheelDelta);
    return false; // prevent body scrolling
  })

  moflix = new Object();
  moflix.photos = [];
  photosForDisplay = [];
  
  // Typeahead.js stuff
  var fb_friends = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    limit: 10,
    prefetch: {
      // url points to a json file that contains an array of country names, see
      // https://github.com/twitter/typeahead.js/blob/gh-pages/data/fb_friends.json
      url: '/fb_friends'
      // filter: function (parsedResponse) {
      //         // parsedResponse is the array returned from your backend
      //         console.log($.parseJSON(parsedResponse));

      //         // do whatever processing you need here
      //         //return parsedResponse;
      //     }
      // the json file contains an array of strings, but the Bloodhound
      // suggestion engine expects JavaScript objects so this converts all of
      // those strings
      // filter: function(list) {
      //   return $.map(list, function(country) { return { name: country }; });
      // }
    }
  });
   
  //clear the cache
  fb_friends.clearPrefetchCache();
  // kicks off the loading/processing of `local` and `prefetch`
  fb_friends.initialize();
   
  // passing in `null` for the `options` arguments will result in the default
  // options being used
  $('.input-group .fb_friends')
    .typeahead(null, {
      name: 'fb_friends',
      displayKey: 'name',
      // `ttAdapter` wraps the suggestion engine in an adapter that
      // is compatible with the typeahead jQuery plugin
      source: fb_friends.ttAdapter()
    })
    .on('typeahead:selected', onAutocompleted)
    .on('typeahead:autocompleted', onSelected);
   
  function onAutocompleted($e, datum) {
      getFriendsPhotoAlbums(datum);
  }
   
  function onSelected($e, datum) {
      getFriendsPhotoAlbums(datum);
  }
  // end of typeahead stuff

  // Event listener for the select song button
  $('.choose_song').click(function() {
    moflix.musictrack = $(this).attr('id');
  })

  // Function to get the album cover pic from FB as the cover url is not provided with album data
  function getPhotoById(id) {
    coverPhoto = $.ajax({
          type: "GET",
          url: "/get_picture?pictureid=" + id,
          dataType: "json",
          success: function(data){
          }
      });
  } // End of getPhotoById function

  // Ensure the empty divs contain the image backgrounds are responsive
  $( window ).resize(function() {
    thumbnailHeight();
  });

  // Get the user's FB albums and build the view of them
  $.ajax({
      type: "GET",
      url: "/user_albums",
      dataType: "json",
      success: function(data){
          $( ".loading_stuff" ).fadeOut(0);
          for (var i=0;i<data.length;i++)
            { 
              var pictureURL = $.ajax({
                type: "GET",
                async: false,
                url: "/get_picture?pictureid=" + data[i]['cover'],
                dataType: "json"
              });
              data[i]['cover'] = pictureURL.responseText;
              // build album add and browse buttons
              $('.fb_albums_row').append(
                "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
                "<p>" + data[i]['name'] + " (" + data[i]['count'] + ")</p>" +
                "<div class='thumbnail img-responsive'>" +
                "<div class='mf_thumbnail' style='background-image: url(" + data[i]['cover'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] +"' data-name='"+ data[i]['name'] +"'><button class='btn btn-default btn-primary browse'><span class='glyphicon glyphicon-search'></span> Browse photos</button><br/><button class='btn btn-default btn-success add_all'><span class='glyphicon glyphicon-plus'></span> Add all photos</button></div></div></div></div>"
                // TODO Sometimes, FB returns an album with no cover photo - if this is the case, then we need to substitute the last (or first?) photo in the album to prevent the error being displayed.
                );          
            }; // End of for loop
            thumbnailHeight();
            // Set up the click handler for the buttons (have to do this here to ensure it is done AFTER the creation of the divs!)
            $( ".add_all" ).click(function() {
              getAlbumPhotos($(this).parent().attr("id"));
            });  

            $( ".browse" ).click(function() {
              $('.loading_stuff').fadeIn(0);
              displayPhotos($(this).parent().attr("id"), $(this).parent().attr("data-name"));
              
            });

    } // Close success callback
  }); // Close Ajax call

  $( '#show_music' ).click(function() {
    $('#publish_btn').parent().removeClass( "active" );
    $('#show_photos').parent().removeClass( "active" );
    $('#show_music').parent().addClass( "active" );
    $('#FB_albums_container').slideUp( "slow");
    $('#music_container').slideDown( "slow");
  })

  $( '#show_photos' ).click(function() {
    $('#publish_btn').parent().removeClass( "active" );
    $('#show_music').parent().removeClass( "active" );
    $('#show_photos').parent().addClass( "active" );
    $('#music_container').slideUp( "slow");
    $('#FB_albums_container').slideDown( "slow");
  })

  $('#publish_btn').click(function() {
    $('#show_music').parent().removeClass( "active" );
    $('#show_photos').parent().removeClass( "active" );
    $('#publish_btn').parent().addClass( "active" );
  })

  }); // End of page load function

  function getFriendsPhotoAlbums(datum) {
    $('.breadcrumb').find('.btn').fadeIn(0);
    $( "#my_album" ).click(function() {
      $('.fb_friends_albums').fadeOut(0);
      $('.fb_album_contents').fadeOut(0);
      $('.fb_albums_row').fadeIn(0);
    });
    $('.fb_friends_albums').empty();
    $('.fb_friends_albums').fadeOut(0);
    $('.fb_album_contents').empty();
    $('.fb_albums_row').fadeOut(0);
    $( '.loading_stuff' ).fadeIn(0);
    var name = datum["name"].split(" ")[0];
    $('.fb_friends_albums').append(
      '<div class="container"><h3 id="albumOwner">' + name + '\'s Albums</h3></div>'
      );
    // make an Ajax call to get the albums
    $.ajax({
        type: "GET",
        url: "/fb_friends_albums/?userid=" + datum["id"],
        dataType: "json",
        success: function(data){
          for (var i=0;i<data.length;i++)
              { 
                // We have to make another call now to get the link the cover photo
                var pictureURL = $.ajax({
                  type: "GET",
                  async: false,
                  url: "/get_picture?pictureid=" + data[i]['cover'],
                  dataType: "json"
                });
                data[i]['cover'] = pictureURL.responseText;
                // build album add and browse buttons
                $('.fb_friends_albums').append(
                  "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
                  "<div class='album_title'><p>" + data[i]['name'] + " (" + data[i]['count'] + ")</p></div>" +
                  "<div class='thumbnail img-responsive'>" +
                  "<div class='mf_thumbnail' style='background-image: url(" + data[i]['cover'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] +"' data-name='"+ data[i]['name'] +"'><button class='browse btn btn-default btn-primary'><span class='glyphicon glyphicon-search'></span> Browse photos</button><br/><button class='btn btn-default btn-success add_all'><span class='glyphicon glyphicon-plus'></span> Add all photos</button></div></div></div></div>"
                  // <a href='#' class='btn btn-default btn-info btn-lg'><span class='glyphicon glyphicon-search'></span> Choose pictures</a>
                  );          
              }; // End of for loop
              $( '.loading_stuff' ).fadeOut(0);
              $('.fb_friends_albums').fadeIn(0);
              thumbnailHeight();
              $( ".add_all" ).click(function() {
                getAlbumPhotos($(this).parent().attr("id"));
              });  

              $( ".browse" ).click(function() {
                displayPhotos($(this).parent().attr("id"), $(this).parent().attr("data-name"));
              });
              
        } //End of success callback
    });
  } // End of getFriendsPhotoAlbums

  function getAlbumPhotos(albumId) {
    $.ajax({
      type: "GET",
      url: "/photos_by_album?albumid=" + albumId,
      dataType: "json",
      success: function(data){
        // Add each photo in the Ajax response to the moflix.photos array
        for (var i=0;i<data.length;i++)
          {
            var photo = new Object;
            photo.cameFromSite = "Facebook";
            photo.id = data[i]['id'];
            photo.name = data[i]['name'];
            photo.height = data[i]['height'];
            photo.width = data[i]['width'];
            photo.source = data[i]['source'];
            photo.created = data[i]['created_time'];
            photo.from = data[i]['from']['name'];
            photo.fromid = data[i]['from']['id'];
            photo.comments = data[i]['comments'];
            photo.likes = data[i]['likes'];
            $('#thumbscontainer').find('p').remove();
            $('.imagelist').append(
              "<li class='thumbimage'><img id='tnimage1' src='"
              + photo.source
              +"'></li>"
            );
              addAlbumPhotos(photo);
          }; // End for loop
      } //End success callback
    }); // End Ajax request
  } // End of getAlbumPhotos function

  // Once we have the photos from the album, let's display them.
  function displayPhotos(albumId, albumName) {
    $('.breadcrumb').find('.btn').fadeIn(0);
    
    $( '#my_album' ).click(function(event) {
      event.preventDefault();
      $('.breadcrumb').find('.btn').fadeOut(0);
      $('.fb_friends_albums').fadeOut(0);
      $('.fb_album_contents').fadeOut(0);
      $('.fb_albums_row').fadeIn(0);
    });
    headingTitle = "Albums";
    if ($('#my_albums_header').is(":visible")){
      headingTitle = "My Albums"
    };
    if ($('#albumOwner').is(":visible")){
      headingTitle = $('#albumOwner').html();
    };
    $('.loading_stuff').fadeIn(0);
    // photosForDisplay = [];
    //$('.fb_album_contents').fadeOut(0);
    $('.fb_album_contents').empty();
    $('.fb_album_contents').append(
      '<div class="container"><h3><a href="#" id="hide_gallery">' + headingTitle + '</a> / ' + albumName + '</h3></div>'
      );
    $( "#hide_gallery" ).click(function() {
          $('.fb_album_contents').fadeOut(0);
        });

    // Ajax call to get the photos
    $.ajax({
      type: "GET",
      url: "/photos_by_album?albumid=" + albumId,
      dataType: "json",
      async: false,
      success: function(data){
        // Add each photo in the Ajax response to the moflix.photos array
        for (var i=0;i<data.length;i++)
          {
            var photo = new Object;
            photo.cameFromSite = "Facebook";
            photo.id = data[i]['id'];
            photo.name = data[i]['name'];
            photo.height = data[i]['height'];
            photo.width = data[i]['width'];
            photo.source = data[i]['source'];
            photo.created = data[i]['created_time'];
            photo.from = data[i]['from']['name'];
            photo.fromid = data[i]['from']['id'];
            photo.comments = data[i]['comments'];
            photo.likes = data[i]['likes'];
            photosForDisplay.push(photo);


            $('.fb_album_contents').append(
              "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
              "<div class='thumbnail img-responsive'>" +
              "<div class='mf_thumbnail' style='background-image: url(" + data[i]['source'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] + "'><br/><button class='btn btn-default btn-success add_photo'><span class='glyphicon glyphicon-plus'></span> Add photo</button></div></div></div></div>"
              );          
          }; // End for loop
          $('.loading_stuff').fadeOut(0);
          $('.fb_album_contents').fadeIn(0);
          thumbnailHeight();
          $('.add_photo').click(function() {
            console.log("Click funciton online 495")
            var photoObject = $(this).parent().attr("id").toString()
            var result = $.grep(photosForDisplay, function(e){ return e.id === photoObject });
            $('#thumbscontainer').find('p').remove();
            $('.imagelist').append(
              "<li class='thumbimage'><img id='tnimage1' src='"
              + result[0]['source']
              +"'></li>"
            );
            addAlbumPhotos(result[0]);
          });
      } //End success callback

    }); // End Ajax request
  } // End of displayPhotos function

  function addAlbumPhotos(photo) {
    imageListWidth();
    scrollToEnd();
    moflix.photos.push(photo);
  }

// Creating the event and posting to rails
  $( "#done_button" ).click(function() {
    moflix.username = "<%= current_user.name %>";
    moflix.userid = "<%= current_user.id %>";
    if (true) //$('#event_title').val() == ""
    {
      moflix.title = "A moflix by "+ moflix.username;
    } else {
      moflix.title = "Something else" //$('#event_title').val();
    }

    $.ajax({
      type: "POST",
      url: "/events",
      beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      dataType: "json",
      data: {
             "event":moflix
             },
      success: function(data){
        alert("Moflix created")
      }
    }); // end of AJAX request
  }) //End click function

</script>

<!-- Sticky footer for thumbnails -->
<footer class="navbar navbar-fixed-bottom transparent navbar-inverse">
  
  <div class="container">
    <div id="thumbscontainer">
      <p>Choose photos to add to your Moflix</p><p>and they'll appear here.</p>
    <ul class="imagelist">
    </div>
  </div>
</footer>

<script>

// The div contained within the Thumbnails is empty. Here we force the height of it to show the background image
function thumbnailHeight() {
  div = $('.mf_thumbnail');
  divWidth = div.width();
  div.css('height', divWidth);
};

// A function to calculate the width of .imagelist
function imageListWidth() {
  var lengthRequired =  (($(".thumbimage").length)*(100+4))+104;  
  $(".imagelist").css("width", lengthRequired)
};

function scrollToEnd() {
  $('#thumbscontainer').scrollLeft($('.imagelist').outerWidth());
};

// This function is for dev only (until FB works on iphone)
$( "#add_more" ).click(function() {
  var photo = new Object;
      photo.id = "none";
      photo.name = "This is the test one";
      photo.height = 720;
      photo.width = 960;
      photo.source = "https://scontent-b-lhr.xx.fbcdn.net/hphotos-prn1/t1.0-9/1017707_10153948172475503_312887545_n.jpg";
      photo.created = "2013-11-01T11:57:48+0000";
      photo.from = "Moflix Test";
      $('#thumbscontainer').find('p').remove();
      $('.imagelist').append(
        "<li class='thumbimage'><img id='tnimage1' src='"
        + photo.source
        +"'></li>"
      );
      imageListWidth();
      scrollToEnd();
      moflix.photos.push(photo);
});

</script>

  <% else %>
    <% redirect_to login_path %>
  <% end %>

