<div class="container mf_container">
  <h1>New event</h1>

  <h3>Where d'ya wanna get your content?</h3>

  Here's where we want links to the various connections available (Facebook, Instagram etc.)

  Initially, if the user is logged in with facebook, it should show their albums - the user can click to select an entire album or click in to browse the album. If the user is NOT logged in with Facebook, then the screen should allow them to choose which social network to connect with or upload their own images.

  <% if current_user %>

  <ul>
    <li>Photos from FB</li>
    <li>Photos from elsewhere</li>
    <li>Upload my own photos</li>
  </ul>

    <!-- <br />You are currently logged in as <%= current_user.name %>
    <br />Your facebook token is: <%= current_user.facebook_token %>
    -->
    <div id="FB_albums_container">
      <h3>Here are albums from your facebook profile:</h3>
      <div class="row fb_albums_row">
        <div class="loading_stuff">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
          <div id="albums_loading">Loading facebook albums...</div>
        </div>
        
        <p>Find photos from your friends</p>
        <p>Photos I've been tagged in</p>

      </div>
    </div>

    <div class="row added_photos_row">
      <h3>Photos that will appear in the video:</h3>
    </div>

    <button class="btn mf_btn" id="done_button"><span class="glyphicon glyphicon-film"></span> Done</button>
    <button class="btn mf_btn" id="add_more">Add more</button>

    

    </div>


  <% else %>
    You are not currently logged in!
  <% end %>



</div>

<script>

  $(function() {

    $('#thumbscontainer').bind('mousewheel', function(e) { // on scroll
      var $div = $('#thumbscontainer');

      // set div scroll top offset to current + extra from this scroll
      $div.scrollLeft($div.scrollLeft() - e.originalEvent.wheelDelta);

      return false; // prevent body scrolling
    });

    moflix = new Object();
    moflix.photos = [];

    // The div contained within the Thumbnails is empty. Here we force the height of it to show the background image
    function thumbnailHeight() {
      div = $('.mf_thumbnail');
      divWidth = div.width();
      div.css('height', divWidth);
    };

    // Get the user's FB albums and build the view of them
    $.ajax({
        type: "GET",
        url: "/user_albums",
        dataType: "json",
        success: function(data){
            $( ".loading_stuff" ).fadeOut(0);
            for (var i=0;i<data.length;i++)
              { 
                var pictureURL = $.ajax({
                  type: "GET",
                  async: false,
                  url: "/get_picture?pictureid=" + data[i]['cover'],
                  dataType: "json"
                });
                data[i]['cover'] = pictureURL.responseText;
                // build album add and browse buttons
                $('.fb_albums_row').append(
                  "<div class='col-lg-2 col-sm-3 col-xs-6'>" +
                  "<p>" + data[i]['name'] + " (" + data[i]['count'] + ")</p>" +
                  "<div class='thumbnail img-responsive'>" +
                  "<div class='mf_thumbnail' style='background-image: url(" + data[i]['cover'] + ")'><div class='mf_thumb_buttons' id='" + data[i]['id'] +"'><button class='btn btn-default btn-primary'><span class='glyphicon glyphicon-search'></span> Browse photos</button><br/><button class='btn btn-default btn-success add_all'><span class='glyphicon glyphicon-plus'></span> Add all photos</button></div></div></div></div>"
                  // <a href='#' class='btn btn-default btn-info btn-lg'><span class='glyphicon glyphicon-search'></span> Choose pictures</a>
                  );          
              }; // End of for loop
              thumbnailHeight();
              // Set up the click handler for the buttons (have to do this here to ensure it is done AFTER the creation of the divs!)
              $( ".add_all" ).click(function() {
                getAlbumPhotos($(this).parent().attr("id"));
              });       
      } // Close success callback
    }); // Close Ajax call

    // Ensure the empty divs contain the image backgrounds are responsive
    $( window ).resize(function() {
      thumbnailHeight();
    });
  }); // Close page load function

  function getAlbumPhotos(albumId) {
    // console.log("Here's where we get the photos for album id " + albumId);
    // make an Ajax call
    $.ajax({
      type: "GET",
      url: "/photos_by_album?albumid=" + albumId,
      dataType: "json",
      success: function(data){
        console.log(data);
        // Add each photo in the Ajax response to the added_photos_row

        // Photos need to be added to the event object to make the POST to AJAX, and also to the thumbnails view

        // Putting the photos in the thumbnail view
          // How many thumbnail blocks have we got available?


        for (var i=0;i<data.length;i++)
          {
            var photo = new Object;
            photo.id = data[i]['id'];
            photo.name = data[i]['name'];
            photo.height = data[i]['height'];
            photo.width = data[i]['width'];
            photo.source = data[i]['source'];
            photo.created = data[i]['created_time'];
            photo.from = data[i]['from']['name'];
            $('.added_photos_row').append(
              "<p class='photo_added'>Photo - ID:" + photo.id
              + " From:" + photo.from
              + " Name:" + photo.name
              + " Width:" + photo.width
              + " Height:" + photo.height
              + "</p>"
            ); 
            moflix.photos.push(photo);
            console.log(moflix.photos); //moflix.photos[0]["source"]
          }; // End for loop
        $('.added_photos_row').append(
              "You have "
              + $('.thumb_holders').find(".thumb_holder").size()
              + " placeholders available. You wish to add "
              + moflix.photos.length
              + " to the list"
            );
        imageListWidth();



      } //End success callback
    }); // End Ajax request
  } // End getAlbumPhotos function


// Creating the event
  $( "#done_button" ).click(function() {
    moflix.username = "<%= current_user.name %>";
    moflix.userid = "<%= current_user.id %>";
    if (true) //$('#event_title').val() == ""
    {
      moflix.title = "A moflix by "+ moflix.username;
    } else {
      moflix.title = "Something else" //$('#event_title').val();
    }
    console.log(moflix.title);

    $.ajax({
      type: "POST",
      url: "/events",
      beforeSend: function(xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      dataType: "json",
      data: {
             "event":moflix
             },
      success: function(data){
        console.log(data);
      }
    }); // end of AJAX request

    // convert the event object to JSON, ready to send to Rails with an AJAX call
  }); //End click function

</script>

<!-- Sticky footer for thumbnails -->
<footer class="navbar navbar-fixed-bottom transparent navbar-inverse">
  
  <div class="container">
    <div id="thumbscontainer">
    <ul class="imagelist">
      
    </div>
  </div>
<!--   <div class="row" id="bottomNav">
    <div class="container thumb_holders">
      <div class="col-lg-3 col-sm-3 col-xs-4 hidden-xs">Reserved for some text</div>
      <div class="col-lg-1 col-sm-1 col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-circle-arrow-left"></i><br>Link</a></div>
      <div class="col-lg-1 col-sm-1 col-xs-2 text-center thumb_holder thumb1"></div>
      <div class="col-lg-1 col-sm-1 col-xs-2 text-center thumb_holder thumb2"></div>
      <div class="col-lg-1 col-sm-1 col-xs-2 text-center thumb_holder thumb3"></div>
      <div class="col-lg-1 col-sm-1 col-xs-2 text-center thumb_holder thumb4"></div>
      <div class="col-lg-1 col-sm-1 col-xs-0 text-center thumb_holder thumb5 hidden-xs"></div>
      <div class="col-lg-1 col-sm-1 col-xs-0 text-center thumb_holder thumb6 hidden-xs"></div>
      <div class="col-lg-1 col-sm-1 col-xs-0 text-center thumb_holder thumb7 hidden-xs"></div>
      <div class="col-lg-1 col-sm-1 col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-circle-arrow-right"></i><br>Link</a></div>
    </div>
  </div> -->
</footer>

<script>
// We're going to remove the thumbnail placeholders that are currrently invisible, so JS knows how many we have available to use.
 
// $(function(){


//   $('.thumb_holders').find(".thumb_holder").filter(function() {
//    return $(this).css('display') == 'none';
//   }).remove();


// });

$( "#add_more" ).click(function() {
  $('.imagelist').append(
              "<li class='thumbimage'><img id='tnimage1' src='https://scontent-b-lhr.xx.fbcdn.net/hphotos-prn1/t1.0-9/1017707_10153948172475503_312887545_n.jpg'></li>"
            );
        imageListWidth();
        $('#thumbscontainer').scrollLeft($('.imagelist').outerWidth());
});

// A function to calculate the width of .imagelist
function imageListWidth() {
  var lengthRequired =  (($(".thumbimage").length)*(100+4))+104;  
  $(".imagelist").css("width", lengthRequired)
};

</script>

