  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "new_user form-signin", :role => "form"}) do |f| %>
  <h2 class="form-signin-heading">Sign in to <span class="moflix">moflix</span></h2>

  <%= link_to '<i class="fa fa-facebook"></i>Sign in with Facebook'.html_safe, omniauth_authorize_path(resource_name, "facebook"), :class => "btn btn-block btn-social btn-lg btn-facebook" %>

  <%= link_to '<i class="fa fa-instagram"></i>Sign in with Instagram'.html_safe, omniauth_authorize_path(resource_name, "instagram"), :class => "btn btn-block btn-social btn-lg btn-instagram" %>

  <a class="btn btn-block btn-social btn-lg btn-flickr"><i class="fa fa-flickr"></i>Sign in with Flickr</a>

  <%= render "devise/shared/links" %>
<% end %>






