// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 background: #F4F4F4 url("instagram_bg.jpeg");
 margin: 0px;
 // -webkit-box-shadow: inset 0px 0px 100px 11px rgba(0,0,0,0.75);
 // -moz-box-shadow: inset 0px 0px 100px 11px rgba(0,0,0,0.75);
 // box-shadow: inset 0px 0px 100px 11px rgba(0,0,0,0.75);
 width: 100%;
 min-height: 100%;
}

html{
  height: 100%;
  margin-top: 0px;
}

.msg {
  font-family: 'Source Sans Pro', sans-serif;
  // font-size: 18px;
  // line-height: 1.6em;
  // color:#FFFFFF;
}

.with_shadow {
  text-shadow:#333333 1px 1px 0px;
}

#moflix_logo {
  font-family: Slackey, cursive;
  font-size: 28px;
  color: rgba(255,255,255, 0.7);
  margin-bottom: 10px;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 10;
  padding-left: 20px;
}

 @media(max-width:767px){
  #moflix_logo {
    font-size: 20px;
   }
}

.hidden {
  visibility: hidden;
}

.mf_container {
  background: white;
  border-radius: 5px;
}

.mf-steps {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mf-steps li {
  margin-right: 10px;
  margin-top: 12px;
}

.mf-steps>li.active>a, .mf-steps>li.active>a:hover,.mf-steps>li.active>a:focus {
  background: #FF0084;
}

#music_container {
  display:none;
}

.music_vid {
  text-align: center;
  margin-bottom: 20px
}

.music_vid button {
  margin-bottom: 25px;
}

.nav-tabs {
  margin-bottom: 30px;
}

.mf_thumbnail {
  min-height: 155px;
}

.instagram_show_more>.thumbnail {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.breadcrumb {
  min-height: 62px;
}

.breadcrumb>.btn {
  margin-top: 6px;
}

.edit-moflix {
  position: absolute;
  right: 6%;
  top: -30px;
  background-color: rgba(0,0,0,0.7);
  height: 30px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.edit-moflix:hover {
  color: white;
}

.stats-item {
  border: 1px lightgray solid;
  padding: 10px 15px;
  float: left;
  margin-right: 10px;
  font-size: 0.9em;
}

.stats-item-detail {
  font-size: 1.5em;
  text-align: center;
}

.mf-steps {
  margin-bottom: 60px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; max-width: 100%; }
#sortable li { margin: 3px 3px 3px 0; float: left; width: 100px; height: 100px; font-size: 4em; text-align: center; background-color: pink; cursor:pointer;}

img.cropped {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: auto;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
}





